// style file

$primary-color : #ffffff;
$seconadary-color : #2ba5ff;
// General style
body
{
    background-color: $primary-color;
}

// General style

// Header style

// Header style




// Footer Style

// Footer Style